<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Header</th>
        <th>Body</th>
        <th>Author-name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.id}"></td>
        <td th:text="${article.header}"></td>
        <td th:text="${article.body}"></td>
        <td th:text="${article.author.login}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>