<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>REGISTRATION</title>
</head>
<body>
<div th:if="${error != null}">
    <div th:text="${error.message}"></div>
</div>
<form th:action="@{/registration}" th:object="${user}" method="post" enctype="multipart/form-data">
    <label>Username: <input type="text" th:field="*{username}" required></label><br>
    <label>Password: <input type="password" th:field="*{password}" required></label><br>
    <label>Photo: <input type="file" th:field="*{photo}" accept="image/*"></label><br>

    <input type="submit" value="Register">
</form>
</body>
</html>